{% extends 'base.html' %}
{% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <br>

            <form class="form" method="POST" action="">
                {% csrf_token %}
                <p>Are your sure you want to delete this "{{object}}"?</p>
                <a class="btn btn--sub btn--lg  my-md" href="{{request.GET.next}}">&#x2190 Go Back</a>
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
            </form>
        </div>
    </div>
</main>

{% endblock content %}